{% extends 'base.html' %}
{% block title %}
Database Tables
{% endblock %}
{% block heading %}
Database Tables
{% endblock %}
{% block content %}
<table class="table table-hover table-bordered mt-3">

        <thead>
        <tr class="text-center table-primary text-capitalize">
            <th colspan=14 scope="col"><h4>{{db}} [{{count}}]</h4></th>
        </tr>
        <tr class="table-primary">
            <th scope="col">Date</th>
            <th scope="col">Adspend</th>
            <th scope="col">Impressions</th>
            <th scope="col">CPM</th>
            <th scope="col">Clicks</th>
            <th scope="col">CPR</th>
            <th scope="col">Leads</th>
            <th scope="col">LP_CVR</th>
            <th scope="col">CPL</th>
            <th scope="col">Sales</th>
            <th scope="col">CPA</th>
        </tr>
        </thead>
        <tbody>
        {% if data_set.items|length > 0 %}
            {% for data in data_set.items: %}
            <tr>
                <td>{{ data.date }}</td>
                <td>{{ "{:0,.2f}".format(data.adspend) }}</td>
                <td>{{ "{:0,.2f}".format(data.impressions) }}</td>
                <td>{% if data.impressions > 0 %}
                        ${{'%0.2f'|format(data.adspend / data.impressions * 1000)}}
                    {% else %}
                       $0.0
                    {% endif %}
                </td>
                <td>{{ "{:0,}".format(data.clicks) }}</td>
                <td>{% if data.clicks > 0 %}
                        ${{"{:0,.2f}".format(data.adspend / data.clicks)}}
                    {% else %}
                       $0.0
                    {% endif %}
                </td>
                <td>{{ data.leads }}</td>
                <td>{% if data.clicks > 0 %}
                        {{"{:0,.2f}".format(data.leads / data.clicks * 100)}}%
                    {% else %}
                        0.0%
                    {% endif %}</td>
                <td>{% if data.leads > 0 %}
                        ${{"{:0,.2f}".format(data.adspend / data.leads)}}
                    {% else %}
                        $0.0
                    {% endif %}</td>
                <td>${{ data.sales|float }}</td>
                <td>{% if data.sales > 0 %}
                        ${{"{:0,.2f}".format(data.adspend / data.sales)}}
                    {% else %}
                       $0.0
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="14" class="text-center text-danger">No {{db}} found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

<nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if data_set.has_prev %}
                      <li class="page-item m-2"> <a class="page-link" href="{{ url_for('main.webinar', page=data_set.prev_num) }}"><<</a></li>
                    {% else %}
                      <li class="page-item m-2"><a class="page-link btn disabled" href="#"><<</a></li>
                    {% endif %}

                    <li class="page-item m-2"><a class="page-link btn active" href="#">{{data_set.page}}</a></li>

                    {% if data_set.has_next %}
                      <li class="page-item m-2"> <a class="page-link" href="{{ url_for('main.webinar', page=data_set.next_num) }}">>></a></li>
                    {% else %}
                      <li class="page-item m-2"><a class="page-link btn disabled" href="#">>></a></li>
                    {% endif %}

                </ul>
              </nav>
{% endblock %}