{% extends 'login_base.html' %}
{% block title %}
Login
{% endblock %}
{% block heading %}
Login
{% endblock %}
{% block content %}



<main class="form-signin w-100 m-auto">
  <form method="POST">
    {{ form.hidden_tag()}}
<!--    <h3 class="h3 mb-3 fw-normal text-center"></h3>-->
    <div class="form-floating p-2">
      {{form.email(class="form-control mb-3", placeholder="Email")}}

      {{form.password(class="form-control mb-3", placeholder="Password")}}

      <div class="text-center">
        {{form.submit(class="w-50 btn btn-primary py-2") }}
      </div>
    </div>
  </form>
</main>

{% endblock %}