{% extends 'base.html' %}
{% block title %}
Users
{% endblock %}

{% block heading %}
Users
{% endblock %}

{% block content %}
    <table class="table table-hover table-bordered mt-3">

        <thead>
        <tr class="text-center table-primary">
<!--            <th colspan=5 scope="col"><h3>Users</h3></th>-->
        </tr>
        <tr class="table-primary">
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Delete</th>
            <th scope="col">Reset Password</th>
        </tr>
        </thead>
        <tbody>
        {% if users|length > 0 %}
            {% for user in users: %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                {% if user.email == "chidinma.obioha@excelmindcyber.com" %}
                    <form action="{{ url_for('auth.delete_user', user_id=user.id) }}" method="post">
                        <input type="hidden" name="_method" value="Delete">
                        <input type="submit" value="Delete" class="btn btn-danger" disabled>
                    </form>
                {% else %}
                    <form action="{{ url_for('auth.delete_user', user_id=user.id) }}" method="post">
                        <input type="hidden" name="_method" value="Delete">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                {% endif %}


                </td>
                <td>
                    <form action="{{ url_for('auth.send_pass_reset', email=user.email) }}" method="post">
                        <input type="hidden" name="_method" value="Reset Password">
                        <input type="submit" value="Reset Password" class="btn btn-warning">
                    </form>

                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center text-danger">No User Found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>


{% endblock %}
